.formControl {
}

.inputContainer {
}

.default {
}

.danger {
  > .infoMessage {
    color: var(--clr-danger, red);
  }

  .inputContainer {
    &:not(.default) {
      .infoMessage {
        color: var(--clr-danger, red);
      }

      .input {
        border-color: var(--clr-danger, red);

        &:focus-within {
          border-color: transparent;
        }
      }
    }
  }
}

.label {
  display: block;
  margin-bottom: 0.5em;

  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75em;
  font-weight: 700;
}

.infoMessage {
  margin-top: 0.75em;
  font-size: 0.75em;
}

.inputsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
  gap: var(--inputs-gap);
}
