.formControl {
  &.danger {
    .infoMessage {
      color: var(--clr-danger, red);
    }
  }
}

.formControl.danger .input,
.input {
  &.danger {
    border-color: var(--clr-danger, red);

    &:focus-within {
      border-color: transparent;
    }
  }
}

.label {
  display: block;
  margin-bottom: 0.5em;

  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75em;
  font-weight: 700;
}

.infoMessage {
  margin-top: 0.75em;
  font-size: 0.75em;

  &.danger {
    color: var(--clr-danger, red);
  }
}

.inputsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
  gap: var(--inputs-gap);
}
